@{
    ViewBag.Title = "연락처";
}
<h2>@ViewBag.Title.</h2>

<div style="border:1px solid #eeeeee; margin:1em; padding:2em;">
    <address>
        주소: 서울특별시 성동구 아차산로 84 홍인빌딩 201호 (서울특별시 성동구 성수동2가 314-1)<br />
        우편번호: 04782<br />
        전화: 02-452-2966, 팩스: 02-452-2965<br />
    </address>

    <address>
        <strong>Software:</strong>   <a href="mailto:hwpark@ainpia.com">hwpark@ainpia.com</a><br />
        <strong>System:</strong> <a href="mailto:yslee@ainpia.com">yslee@ainpia.com</a>
    </address>
</div>
