@{
    ViewBag.Title = "상품명 변환";
}

<h2>@ViewBag.Title.</h2>

<form method="post" enctype="multipart/form-data" action="Convert">
    <p>
        변환할 엑셀 파일을 선택하세요.
    </p>
    <div style="margin:2em; padding:1em 2em; border:1px solid gray;">
        <input type="file" name="file" id="file" />
    </div>
    <p>
        <input type="submit" value="변환 시작" />
    </p>
</form>
